/* Body Part */
section.posts {
	width: 100%;
	display: inline-block;
	margin: 5px 5px 5px 0px;
	border: solid silver;
}

section.posts ul.list_buttons {
	float: left;
	list-style-type: none;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 10%;
}

section.posts ul.list_buttons li {
	margin: 20px 5px 20px 5px;
}

section.posts article.contents {
	width: 85%;
	float: right;
	margin: 0px;
	border-left: 1px solid silver;
}

td {
	padding: 20px 20px 20px 20px;
}

h3 {
	font-family: Verdana;
	color: dimgray;
}

div.info {
	border: 1px solid silver;
	padding: 5px 5px 5px 5px;
}

.image {
	width: 15%;
}

.post_info {
	font-family: arial;
	font-size: 15px;
	margin: 5px 5px 5px 5px;
}

.post1.hide {
	display: none;
}

.post2.hide {
	display: none;
}

.post3.hide {
	display: none;
}
