.post div {
	margin: 20px 20px 20px 20px;
}

.submit_button {
	margin: 15px 10px 10px 10px;
}

#act_photo {
	width: 20%;
	border: solid silver;
}

#upload_button {
	margin: 10px 10px 10px 10px;
}

#title {
	font-family: verdana;
	color: dimgray;
}

#date_input {
	width: 95%;
	padding: 12px 20px;
	margin: 5px 0px 5px 0px;
}

#time_input {
	width: 95%;
	padding: 12px 20px;
	margin: 5px 0px 5px 0px;
}

#location_input {
	width: 95%;
	padding: 12px 20px;
	margin: 5px 0px 5px 0px;
}

#contact_poster_input {
	width: 95%;
	padding: 12px 20px;
	margin: 5px 0px 5px 0px;
}

#details_input {
	width: 95%;
	padding: 12px 20px 60px;
	margin: 5px 0px 5px 0px;
}






